<footer>
    <div>
        <p>SOCIS Consultores</p>
        <p>Especialistas en Normas ISO</p>
        <p>socis@socis.com.ar</p>
        <p>(54911) 4447-8802</p>
    </div>
    <img src="../../img/logo-socis-2013.jpg" alt="Logo Socis SRL.">
</footer>